


p::first-line{
    color:brown;
}
p::first-letter{
    font-size: 40px;
}
p:before {
    content: url("image.jpg");
    width: 100px; /* Set the width to 200 pixels */
    height: 100px; /* Set the height to 150 pixels */
  }

 